<div *ngIf="!showRouterOutlet">
  <nb-card>
    <nb-card-header>
      Bảng thông tin nhân viên
      <button type="button" class="btn btn-outline-primary" (click)="add()">Thêm</button>
      </nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Thời gian bắt đầu</th>
            <th scope="col">Thời gian kết thúc</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of listActivity">
            <th scope="row">{{activity.id}}</th>
            <td>{{activity.full_name}}</td>
            <td>{{activity.role}}</td>
            <td>{{activity.start_time}}</td>
            <td>{{activity.end_time}}</td>
            <td>{{activity.content_description}}</td>
            <td>
              <button type="button" class="btn btn-outline-success" (click)="edit(activity.id)">Sửa</button>
              <button type="button" class="btn btn-outline-danger m-2" (click)="deleteActivity(activity.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
<router-outlet *ngIf="showRouterOutlet"></router-outlet>
