<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <h3>Thêm quản lý kinh nghiệm</h3>
                        <form class="form-valide">    
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="username">Họ tên <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <input type="text" class="form-control" id="username" placeholder="" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="company">Công ty<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <input type="text" class="form-control" id="company" placeholder="" name="company"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="vacancies">Vị trí<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <input type="text" class="form-control" id="vacancies" placeholder="" name="vacancies"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="startdate">Bắt đầu<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <input type="date" class="form-control" id="startdate" placeholder="" name="startdate"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="enddate">Kết thúc<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <input type="date" class="form-control" id="enddate" placeholder="" name="enddate"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="describe">Mô tả<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <input type="text" class="form-control" id="describe" placeholder="" name="describe"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-lg-4 col-form-label" for="username"><span class="text-danger"></span>
                                </label>
                                <div class="col-lg-6 p-2">
                                    <button type="submit" class="btn btn-primary" >Xác Nhận</button>
                                    <button type="submit" class="btn btn-outline-success m-2" (click)="back()">Quay lại</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

