<div *ngIf="!showRouterOutlet">
  <nb-card>
    <nb-card-header>
      Bảng quản lý kinh nghiệm
      <button type="button" class="btn btn-outline-primary" (click)="add()">Thêm</button>
    </nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ tên</th> 
            <th scope="col">Công ty</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of experienceList ; index as i">
            <th scope="row">{{i +1}}</th>
            <ng-container *ngIf="listUser && listUser.length > 0">
              <ng-container *ngFor="let user of listUser">
                <ng-container *ngIf="user.id === list.user_id">
                  <td>{{user.fullname}}</td>
                </ng-container>
              </ng-container>
            </ng-container>      
            <td>{{list.company}}</td>
            <td>{{list.vacancies}}</td>
            <td>{{list.startdate |  date: 'dd/MM/yyyy'}}</td>
            <td>{{list.enddate |  date: 'dd/MM/yyyy'}}</td>
            <td>{{list.describe}}</td>

            <td>
              <button type="button" class="btn btn-outline-success" (click)="edit(list.id)">Sửa</button>
              <button type="button" class="btn btn-outline-danger m-2"   (click)="deleteUser(list.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
<router-outlet *ngIf="showRouterOutlet"></router-outlet>

