<div *ngIf="!showRouterOutlet">
  <nb-card>
    <nb-card-header>
      Bảng thông tin kinh nghiệm tin học nhân viên
      <button type="button" class="btn btn-outline-primary" (click)="add()">Thêm</button>
    </nb-card-header>
    <nb-card-body>
      <!-- Hiển thị dữ liệu cố định của userComponent -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Phần mền</th>
            <th scope="col">Kỹ năng</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of listInformationtechnologyexperience; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ info.full_name }}</td>
            <td>{{ info.software }}</td>
            <td>{{ info.level }}</td>
            <td>
              <button class="btn btn-outline-success" (click)="edit(activity.id)">Sửa</button>
              <button class="btn btn-outline-danger m-2" (click)="delete(activity.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
<router-outlet *ngIf="showRouterOutlet"></router-outlet>