<!-- certificate.component.html -->
<div *ngIf="!showRouterOutlet">
  <nb-card>
    <nb-card-header>
      Bảng thông tin nhân viên
      <button type="button" class="btn btn-outline-primary" (click)="add()">Thêm</button>
    </nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên chứng chỉ</th>
            <th scope="col">Tổ chức cấp</th>
            <th scope="col">Tên người nhận</th>
            <th scope="col">Ngày cấp</th>
            <th scope="col">Hạn sử dụng</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let certificate of certificate">
            <td>{{ certificate.id }}</td>
            <td>{{ certificate.nameCertificate }}</td>
            <td>{{ certificate.issued }}</td>
            <td>{{ certificate.nameReceiver }}</td>
            <td>{{ certificate.dateRange }}</td>
            <td>{{ certificate.expiry }}</td>
            <td><img [src]="certificate.imageUrl" alt="Certificate Image" width="50"></td>
            <td>
              <button type="button" class="btn btn-outline-success" (click)="edit(certificate.id)">Sửa</button>
              <button type="button" class="btn btn-outline-danger m-2" (click)="delete(certificate.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
<router-outlet *ngIf="showRouterOutlet"></router-outlet>
