<div *ngIf="!showRouterOutlet">
  <nb-card>
    <nb-card-header>
      Bảng thông học vấn
      <button type="button" class="btn btn-outline-primary" (click)="addEducation()">Thêm</button>
    </nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Chuyên ngành</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Xếp loại</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <!-- Trong file education.component.html -->
          <tr *ngFor="let edu of education; let i = index;">
            <td>{{ i + 1 }}</td>
            <!-- Sử dụng biến user để lưu trữ thông tin về người dùng tương ứng với user_id của bản ghi giáo dục -->
            <ng-container *ngIf="list && list.length > 0">
              <!-- Tìm kiếm người dùng với user_id tương ứng -->
              <ng-container *ngFor="let user of list">
                <ng-container *ngIf="user.id === edu.user_id">
                  <td>{{ user.fullname }}</td>
                </ng-container>
              </ng-container>
            </ng-container>
            <td>{{ edu.specialized }}</td>
            <td>{{ edu.startTime }}</td>
            <td>{{ edu.endTime }}</td>
            <td>{{ edu.graduation_Type }}</td>
            <td>
              <button type="button" class="btn btn-outline-success" (click)="editEducation(edu.id)">Sửa</button>
              <button type="button" class="btn btn-outline-danger m-2" (click)="deleteEducation(edu.id)">Xóa</button>
            </td>
          </tr>



        </tbody>
      </table>


    </nb-card-body>
  </nb-card>
</div>
<router-outlet *ngIf="showRouterOutlet"></router-outlet>