



<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="form-validation">
            <h3>Thêm hoạt động</h3>
            <form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
              <div class="form-group row" [ngClass]="{'has-error': !myForm.controls['name'].valid && myForm.controls['name'].touched}">
                <label class="col-lg-4 col-form-label" for="name">Họ tên <span class="text-danger">*</span></label>
                <div class="col-lg-6 p-2">
                  <input type="text" class="form-control" id="name" formControlName="name">
                  <div *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched" class="text-danger">
                    Họ tên là bắt buộc
                  </div>
                </div>
              </div>
              <div class="form-group row" [ngClass]="{'has-error': !myForm.controls['role'].valid && myForm.controls['role'].touched}">
                <label class="col-lg-4 col-form-label" for="role">Vai trò <span class="text-danger">*</span></label>
                <div class="col-lg-6 p-2">
                  <input type="text" class="form-control" id="role" formControlName="role">
                  <div *ngIf="!myForm.controls['role'].valid && myForm.controls['role'].touched" class="text-danger">
                    Vai trò là bắt buộc
                  </div>
                </div>
              </div>
              <div class="form-group row" [ngClass]="{'has-error': !myForm.controls['start_time'].valid && myForm.controls['start_time'].touched}">
                <label class="col-lg-4 col-form-label" for="start_time">Thời gian bắt đầu <span class="text-danger">*</span></label>
                <div class="col-lg-3 p-2">
                  <input type="date" class="form-control" id="start_time" formControlName="start_time">
                  <div *ngIf="!myForm.controls['start_time'].valid && myForm.controls['start_time'].touched" class="text-danger">
                    Thời gian bắt đầu là bắt buộc
                  </div>
                </div>
              </div>
              <div class="form-group row" [ngClass]="{'has-error': !myForm.controls['end_time'].valid && myForm.controls['end_time'].touched}">
                <label class="col-lg-4 col-form-label" for="end_time">Thời gian kết thúc <span class="text-danger">*</span></label>
                <div class="col-lg-3 p-2">
                  <input type="date" class="form-control" id="end_time" formControlName="end_time">
                  <div *ngIf="!myForm.controls['end_time'].valid && myForm.controls['end_time'].touched" class="text-danger">
                    Thời gian kết thúc là bắt buộc
                  </div>
                </div>
              </div>
              <div class="form-group row" [ngClass]="{'has-error': !myForm.controls['content_description'].valid && myForm.controls['content_description'].touched}">
                <label class="col-lg-4 col-form-label" for="content_description">Mô tả <span class="text-danger">*</span></label>
                <div class="col-lg-6 p-2">
                  <input type="text" class="form-control" id="content_description" formControlName="content_description">
                  <div *ngIf="!myForm.controls['content_description'].valid && myForm.controls['content_description'].touched" class="text-danger">
                    Mô tả là bắt buộc
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6 p-2 offset-lg-4">
                  <button type="submit" class="btn btn-primary">Xác Nhận</button>
                  <button type="button" class="btn btn-outline-success m-2" (click)="back()">Quay lại</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
