<div *ngIf="!showRouterOutlet">
  <nb-card>
    <nb-card-header>
      Bảng thông tin đăng nhập
      <button type="button" class="btn btn-outline-primary" (click)="addLogin()">Thêm</button>
    </nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên đăng nhập</th>
            <th scope="col">Email</th>
            <th scope="col">Phân quyền</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of login; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ getRoleName(user.role_id) }}</td>
            <td>{{ user.date_start }}</td>
            <td>
              <button type="button" class="btn btn-outline-success" (click)="editLogin(user.id)">Sửa</button>
              <button type="button" class="btn btn-outline-danger m-2" (click)="deleteLogin(user.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
     
    </nb-card-body>
  </nb-card>
</div>
<router-outlet *ngIf="showRouterOutlet"></router-outlet>