<nb-card>
  <nb-card-header>
    Bảng kỹ năng làm việc
    <div class="custom-btn">
      <button type="button" class="btn btn-outline-success " (click)="exportSkill()">Xuất Excel</button>
      <button type="button" class="btn btn-outline-primary" (click)="add()">Thêm</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên ứng viên</th>
          <th scope="col">Kỹ năng</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of lists ; index as i">
          <th scope="row">{{i + 1}}</th>
          <ng-container *ngIf="listuser && listuser.length > 0">
            <ng-container *ngFor="let user of listuser">
              <ng-container *ngIf="user.id === list.user_id">
                <td>{{user.fullname}}</td>
              </ng-container>
            </ng-container>
          </ng-container>
          <td>{{list.skill}}</td>
          <td>
            <button type="button" class="btn btn-outline-success" (click)="edit(list.id)">Sửa</button>
            <button type="submit" class="btn btn-outline-danger m-2" (click)="delete(list.id)">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator [current_page]="current_page" [last_page]="last_page" [apiUrl]="apiUrl" (dataList)="getPage($event)">
    </app-paginator>
  </nb-card-body>
</nb-card>