<nb-card>
    <nb-card-header>
        Quản lý chứng chỉ
    </nb-card-header>
    <nb-card-body>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody *ngFor="let cert of certificate">
                <tr>

                    <td> {{ cert.id }}</td>
                    <td> {{ cert.nameCertificate }}</td>
                    <td> {{ cert.issued }}</td>
                    <td> {{ cert.nameReceiver }}</td>
                    <td> {{ cert.dateRange }}</td>
                    <td> {{ cert.expiry }}</td>
                    <td> <img height="70px" src="{{ cert.image }}" alt=""></td>
                    <td><button class="btn btn-danger ">xoa</button>
                        <button class="btn btn-primary ml-1">them</button>
                    </td>
                </tr>

            </tbody>
        </table>

    </nb-card-body>
</nb-card>